


h1 {
    color: black;
    
}


p1  {
    color: black;
    font-size: x-large;


}
li {
    font-size: x-large;
     
}
.nav-wrapper {
    display: flex;
    font-family: Aquire;
    justify-content: space-between;
    color: black;
    padding: 50px;
    font-display: bold;
    -webkit-font-smoothing: antialiased;
    
}
.left-side {
    display: flex;
}
.nav-wrapper > .left-side > div {
   margin: 20px;
   font-size: x-large;



}
.container {
    margin: 5px;
}
 
.nav-wrapper > .right-side > div {
    margin: 20px;
    font-size: xx-large;
    font-weight: 500;
    border-radius: 50%;
    
}
.nav-link-wrapper {
    height: 22px;
    
    transition: border-bottom 0.5s;
    
}
.nav-link-wrapper a {
    color: 8a8a8a;
    text-decoration: none;
    transition: color 0.5s;

}
   


  .nav-link-wrapper a:hover {
      color: rgb(230, 17, 17);
      }
  a{
      color: black;
  }
  p > a:hover{
      
      color: rgb(231, 33, 33);
      transition: color 0.3;
  }
 
  .wrapper > p {
      
      border-bottom: black;
  }


  

  
    