p1  {
    color: rgb(80, 66, 69);
    font-size: x-large;
    

h1  {

    color: darkcyan; }
    html {
        background-image: url(https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png);
    }
body {background-image:(image.jpg);}